@import url('https://fonts.googleapis.com/css?family=Poppins');

/* Estilos generales */
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', -apple-system, ui-serif;
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}