<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title th:text="${cuentaDto.numeroCuenta}">Visualizar cuenta</title>
</head>
<body>
<!-- Cabecera -->
<header th:replace="common/header"></header>
<nav th:replace="common/nav"></nav>

<!-- Contenido principal -->
<main>

    <!-- Cuenta -->
    <section class="show">
        <h1 th:text="${cuentaDto.numeroCuenta}"></h1>
        <div class="show-field">
            <h2>id</h2>
            <p th:text="${cuentaDto.id}"></p>
        </div>
        <div class="show-field">
            <h2>Propietario</h2>
            <p th:text="${cuentaDto.propietarioDto.nombre} + ' ' + ${cuentaDto.propietarioDto.apellidos}"></p>
        </div>
        <div class="show-field">
            <h2>Banco</h2>
            <p th:text="${cuentaDto.banco}"></p>
        </div>
        <div class="show-field">
            <h2>Sucursal</h2>
            <p th:text="${cuentaDto.sucursal}"></p>
        </div>
        <div class="show-field">
            <h2>Número de cuenta</h2>
            <p th:text="${cuentaDto.numeroCuenta}"></p>
        </div>
        <div class="show-field">
            <h2>dc</h2>
            <p th:text="${cuentaDto.dc}"></p>
        </div>
        <div class="show-field">
            <h2>Saldo</h2>
            <p th:text="${cuentaDto.saldo}"></p>
        </div>
    </section>
</main>

</body>
</html>