<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
</head>
<body>
<form th:action="@{/login}" th:object="${loginUser}" method="post">
    <fieldset>
        <legend>Inicio de sesión</legend>
        <div>
            <label for="username">Nombre de usuario</label>
            <input type="text" th:field="*{username}" name="username" id="username" required>
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="password" th:field="*{password}" name="password" id="password" required>
        </div>
        <button type="submit">Enviar</button>
        <p>No tienes cuenta? <a href="register">Registrate</a></p>
    </fieldset>
    <p th:text="${mensaje}"></p>
</form>
</body>
</html>