<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>
<body>
<form th:action="@{/zonas/save}" th:object="${zona}" method="post">
	<h2 th:text="${add} ? 'Nueva zona' : 'Actualizar zona'"></h2>
	<table>
		<tr>
			<td>id</td>
			<td>:</td>
			<td><input type="text" th:field="*{id}" readonly></td>
		</tr>
		<tr>
			<td>Letra</td>
			<td>:</td>
			<td><input type="text" th:field="*{letra}"></td>
		</tr>
		<tr>
			<td>Profundidad</td>
			<td>:</td>
			<td><input type="text" th:field="*{profundidad}"></td>
		</tr>
		<tr>
			<td>Dimensiones</td>
			<td>:</td>
			<td><input type="text" th:field="*{dimensiones}"></td>
		</tr>
	</table>
	<button th:text="${add} ? 'Nuevo' : 'Actualizar'"></button>
</form>
</body>
</html>