<!DOCTYPE html>
<html>
<head>
    <title>Videoclub online</title>
</head>
<body>
<main>
    <section>
        <p>Usted indicó la siguiente información:</p>
        <p><strong>Película:</strong> <span th:text="${alquiler.nombre}"></span></p>
        <p><strong>Dias:</strong> <span th:text="${alquiler.dias}"></span></p>
        <p><strong>Edad:</strong> <span th:text="${alquiler.edad}"></span></p>
        <p><strong>Forma de pago:</strong> <span th:text="${alquiler.formaPago}"></span></p>
        <p><strong>Indicaciones extras:</strong> <span th:text="${alquiler.extras}"></span></p>
    </section>
</main>
</body>
</html>