<!DOCTYPE html>
<html lang="es">
<head>
    <title>Videoclub online</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="/css/form.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<main>
    <form th:action="@{/}" th:object="${alquiler}" method="post">
        <section class="texto" id="nombre">
            <h3>Nombre de la pelicula:</h3>
            <input type="text" th:field="*{nombre}" name="nombre">
        </section>
        <section  class="texto" id="numero">
            <h3>Numero de dias:</h3>
            <input type="number" th:field="*{dias}" name="dias">
        </section>
        <section class="columna" id="edad">
            <h3>Edad cliente:</h3>
            <div class="opciones">
                <div class="opcion-edad">
                    <input type="radio" name="edad" th:field="*{edad}" value="menos7">
                    <p>Menos de 7 años</p>
                </div>

                <div class="opcion-edad">
                    <input type="radio" name="edad" th:field="*{edad}" value="menos14">
                    <p>Menos de 14 años</p>
                </div>

                <div class="opcion-edad">
                    <input type="radio" name="edad" th:field="*{edad}" value="menos18">
                    <p>Menos de 18 años</p>
                </div>
                <div class="opcion-edad">
                    <input type="radio" name="edad" th:field="*{edad}" value="mayor18">
                    <p>Más de 18 años</p>
                </div>
            </div>
        </section>
        <section class="columna" id="pago">
            <h3>Forma de pago:</h3>
            <div class="opciones">
                <select name="formaPago" th:field="*{formaPago}" id="">
                    <option value="visa">Visa</option>
                    <option value="cheque">Cheque</option>
                    <option value="contado">Contado</option>
                    <option value="metalico">Metalico</option>
                </select>
            </div>
        </section>
        <section id="extras">
            <h3>Especificaciones extras:</h3>
            <textarea name="extras" th:field="*{extras}"></textarea>
        </section>
        <section id="botonera">
            <button type="submit" value="send" id="send-btn">Enviar petición</button>
            <button type="reset" id="clear-btn">Borrar formulario</button>
        </section>
    </form>
</main>
</body>

</html>