<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Crear nueva dirección</title>
</head>
<body>
<header th:replace="common/header"></header>

<main>
    <form th:action="@{/direcciones/cliente/{idCliente}/save(idCliente=${clienteDTO.id})}"
          th:object="${direccionDTO}"
          method="post">
        <h2 th:text="'Agregar direccion a ' + ${clienteDTO.nombre}"></h2>
        <div class="form-field">
            <label for="id">id</label>
            <input id="id" type="text" th:field="*{id}" readonly>
        </div>
        <div class="form-field">
            <label for="descripcion">Descripción</label>
            <input type="text" id="descripcion" th:field="*{descripcion}">
        </div>
        <div class="form-field">
            <label for="pais">País</label>
            <input type="text" id="pais" th:field="*{pais}">
        </div>
        <div class="form-field">
            <label for="cp">Código postal</label>
            <input type="text" id="cp" th:field="*{cp}">
        </div>
        <div>
            <button>Añadir</button>
        </div>
    </form>
    <div class="btn-container">
        <a th:href="@{/direcciones/cliente/{idclienteDTO}(idclienteDTO=${clienteDTO.id})}">Volver a la lista de direcciones</a>
    </div>
</main>
</body>
</html>