<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title th:text="'Movimiento ' + ${movimiento.id}">Visualizar cuenta</title>
</head>
<body>
<!-- Cabecera -->
<header th:replace="~{common/header}"></header>
<nav th:replace="~{common/nav}"></nav>

<!-- Contenido principal -->
<main>

    <!-- Muestra del cliente -->
    <section class="show">
        <h1 th:text="'Movimiento nº ' + ${movimiento.id}"></h1>
        <div class="show-field">
            <h2>id</h2>
            <p th:text="${movimiento.id}"></p>
        </div>
        <div class="show-field">
            <h2>Tipo</h2>
            <p th:text="${movimiento.tipo}"></p>
        </div>
        <div class="show-field">
            <h2>Fecha de la operación</h2>
            <p th:text="${#dates.format(movimiento.fecha, 'dd/MM/yyyy')}"></p>
        </div>
        <div class="show-field">
            <h2>Descripción</h2>
            <p th:text="${movimiento.descripcion}"></p>
        </div>
        <div class="show-field">
            <h2>Importe</h2>
            <p th:text="${movimiento.importe}"></p>
        </div>
        <div class="show-field">
            <h2>Origen</h2>
            <p th:text="${movimiento.cuentaOrigenDto.numeroCuenta}
                + ' (' + ${movimiento.cuentaOrigenDto.propietarioDto.nombre} + ' '
                + ${movimiento.cuentaOrigenDto.propietarioDto.apellidos} + ')'"></p>
        </div>
        <div class="show-field">
            <h2>Destino</h2>
            <p th:text="${movimiento.cuentaDestinoDto.numeroCuenta}
                + ' (' + ${movimiento.cuentaDestinoDto.propietarioDto.nombre} + ' '
                + ${movimiento.cuentaDestinoDto.propietarioDto.apellidos} + ')'"></p>
        </div>
    </section>
</main>

</body>
</html>