<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Movimientos</title>
</head>
<body>

<!-- Cabecera -->
<header th:replace="~{common/header}"></header>
<nav th:replace="~{common/nav}"></nav>

<!-- Contenido principal -->
<main>

    <div th:if="${cuentaDto != null}" class="btn-container">
        <a th:href="@{/movimientos/cuenta/{idCuenta}/create(idCuenta=${cuentaDto.id})}">Crear movimiento</a>
        <a th:href="@{/cuentas/cliente/{idCliente}(idCliente=${cuentaDto.propietarioDto.id})}">Volver a la lista de cuentas</a>
    </div>

    <!-- if not movimientos -->
    <h2 th:if="${listaMovimientosDto.isEmpty()}">No hay movimientos</h2>

    <!-- if movimientos -->
    <section th:if="${!listaMovimientosDto.isEmpty()}">

        <!-- Titulo: si se estan mostrando todos los movimientos -->
        <h2 th:if="${cuentaDto}" th:text="'Movimientos de ' + ${cuentaDto.numeroCuenta}"></h2>

        <!-- Titulo: si se estan mostrando los movimientos de una cuenta -->
        <h2 th:if="${cuentaDto == null}">Listado de movimientos</h2>

        <!-- Tabla de movimientos -->
        <table>
            <thead>
            <tr>
                <td>id</td>
                <td>Origen</td>
                <td>Destino</td>
                <td>Tipo</td>
                <td>Fecha de operación</td>
                <td>Descripción</td>
                <td>Importe</td>
                <td>Editar</td>
                <td>Eliminar</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${listaMovimientosDto}">
                <td>
                    <a th:text="${item.id}" th:href="@{/movimientos/{idMovimiento}(idMovimiento=${item.id})}">Id</a>
                </td>
                <td>
                    <a th:href="@{/cuentas/{idCuenta}(idCuenta=${item.cuentaOrigenDto.id})}" th:text="${item.cuentaOrigenDto.numeroCuenta} + ' (' + ${item.cuentaOrigenDto.propietarioDto.nombre} + ' ' + ${item.cuentaOrigenDto.propietarioDto.apellidos} + ')'"></a>
                </td>
                <td>
                    <a th:href="@{/cuentas/{idCuenta}(idCuenta=${item.cuentaDestinoDto.id})}" th:text="${item.cuentaDestinoDto.numeroCuenta} + ' (' + ${item.cuentaDestinoDto.propietarioDto.nombre} + ' ' + ${item.cuentaDestinoDto.propietarioDto.apellidos} + ')'"></a>
                </td>
                <td th:text="${item.tipo}">Tipo</td>
                <td th:text="${#dates.format(item.fecha, 'dd/MM/yyyy')}">Fecha de la operación</td>
                <td th:text="${item.descripcion}">Descripción</td>
                <td th:text="${item.importe}">Importe</td>
                <td><a th:href="@{/movimientos/update/{idMovimiento}(idMovimiento=${item.id})}">Editar</a></td>
                <td><a th:href="@{/movimientos/delete/{idMovimiento}(idMovimiento=${item.id})}">Eliminar</a></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
</body>
</html>