/* Contenido principal */
main {
  min-height: calc(100vh - 170px);
  width: 80%;
  margin: 0 auto;
  padding: 32px 0;
  display: grid;
  place-items: center;
  place-content: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 8px;

  @media screen and (max-width: 768px){
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 300px);
  }
}

/* Estilado general de las secciones */
main > section {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 30px 1fr;
  gap: 8px;
}

main > section > h4 {
  margin: 0;
  line-height: 30px;
  text-align: center;
  background-color: lightgrey;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* Distribucion del grid del main */
main > section:has(> img),
main > section:has(> p),
main > section:has(> div) {
  grid-column: span 2;
}

main > section:nth-of-type(4) {
  grid-column: 1 / -1;
}

main > section:nth-of-type(5),
main > section:nth-of-type(6),
main > section:nth-of-type(7),
main > section:nth-of-type(8) {
  grid-column: span 3;
}

/* Imagen del CrazyFrog y su contenedor (ANIMATION) */
main > section:has(> img) {
  position: relative;
}

main > section > img {
  position: absolute;
  left: 0;
  height: 100px;
}

/* Texto (TRANSFORM) */
main > section > p {
  text-align: center;
  font-weight: bold;
}

/* Div (TRANSITION) */
main > section > div {
  width: 50%;
  height: 100%;
  background-color: var(--color-secondary);
}

main > section > section {
  width: 91px;
  height: 100px;
  background-color: lightcoral;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}