/*
Paleta de colores para los fondos de los grid-items
    background-color: aqua;
    background-color: rgb(136, 255, 0);
    background-color: red;
    background-color: rgb(255, 174, 0);
    background-color: rgb(170, 122, 228);
    background-color: rgb(236, 181, 181);
*/

/***************  GRID ITEMS */
/***************  ASIGNACIÓN DE ITEMS A LAS CELDAS (filas/columnas) */

